.profile__user-info{
    display: grid;
    grid-template-columns: fit-content(500px) max-content;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: 
    "name edit"
    "about .";
    padding-left: 30px;
    
}

@media screen and (max-width:530px) {
    .profile__user-info{
       padding: 0;
       grid-template-columns: fit-content(320px) max-content;
       
    }
    
}