.popup__container{
    max-width: 430px;
    width: 100vw;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    
}

@media screen and (max-width:530px) {
    .popup__container{
        max-width: 282px;
        min-height: 322px;     

    }
    
}