.profile__info-block{
    display: flex;
    max-width: 730px;
    justify-self: start;
    align-items: center;
}

@media screen and (max-width:530px) {
    .profile__info-block{
        flex-direction: column;
    }

}
