.cards__description {
  background-color: white;
  max-height: 80px;
  height: 100%;
  display: grid;
  grid-template-columns: auto 42px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "title ."
    "title like"
    "title numLike"
    "title .";
}
